# Prerequisites
.vscode

# Object files
*.py
*.o
*.a

# Executables
bomberman
a.out

# Miscellaneous

# Unit tests
*_tests

# Emacs
*~
\#*\#
.\#*

#CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
